:root {
  --couleur1: #adb6f4;
  --couleur2: #bdc4e6;
  --couleur3: #ced2d7;
  --couleur4: #dfdfc5;
  --couleur5: #f1ecb1;
  --couleurVert : #adfc2e;
  --couleurRouge: #ff5e47;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.hidden{
  display: none;
  visibility: hidden;
  width: 0;
  height: 0;
}

/*---------
Main layout
---------*/
body{
  display: flex;
  flex-flow: column;
  height:100vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
  overflow:hidden;
}


/*---------
Navigation Menu
---------*/

#NavigationTitle{
  display: inline-block;
  width: 100vw;
  position: relative;
  padding: 0.2em 0.5em;
  z-index: 2;
  background-color: var(--couleur1);
  box-shadow:0px 0px 5px 2px grey;
  height: calc(2.4em);
}

#NavigationTitle img{
  float: left;
  height: 100%;
  display: inline-block;
  z-index: 5;
}
#NavigationTitle h1{
  float:  left;
  height: 100%;
  margin : 0.1em 0.2em;
  z-index: 5;
}

#updateAll{
  float: right;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  display: block;
  font-size: 16px;
  position: relative;
  cursor: pointer;
}

#updateAll:hover{
  background-color: #59db5e;
}

#updateAll:active{
  background-color: #3f9342;
}

#navigationList{
  display:flex;
  margin-top: -0.2em;
}

#navigationList > li{
  list-style: none;
  width:100%;
  text-align:center;
  z-index:3;

}

#navigationList a{
  text-decoration: none;
  padding: 0.2em;
  width:100%;
  height:100%;
  display:block;
  color: black;
}

#navigationList a:hover{
  font-weight: bold;
}

#progress-bar {
  height: 1.5em;
  top: 2.4em;
  width: calc(100% / 3);
  background-color: var(--couleur1);
  border-radius:0 0 0.4em 0.4em;
  z-index:2;
  left: 0;
  position: absolute;
  box-shadow:4px 2px 4px -2px grey, -4px 2px 4px -2px grey;
}
#progress-bar-back{
  height: 4.2em;
  top: -0.3em;
  width: 100%;
  background-color: var(--couleur5);
  left: 0;
  animation: marginLeft 0.3s;
  position: absolute;
  z-index:1;
  border-radius:0.4em;
  box-shadow:0px 0px 5px 2px grey;
}

/*---------
Loading animation
---------*/
#loadingAnnim{
  left: calc(50vw - 40px);
  top: calc(50vh - 40px);
}
#loadingAnnim div{
  border-color: var(--couleur1) transparent transparent transparent;
}
.lds-ring {
  display: inline-block;
  position: absolute;
  z-index: 100;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



/*---------
Pages layout
---------*/
#page-container{
  flex: 1 1 auto;
  display:grid;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  overflow-y: hidden;
  grid-template-columns: 100vw 100vw 100vw;
}

@media only screen and (min-width: 900px){
  #navigationList, #progress-bar, #progress-bar-back{
    display: none;
  }
  #page-container{
    grid-template-columns: calc(100vw/3) calc(100vw/3) calc(100vw/3)!important;
  }
  .grid-pages{
    width: calc(100vw/3) !important;
    border-left: 1px solid var(--couleur3);
    border-right: 1px solid var(--couleur3);
  }
  #addBill{
    left: calc(50vw/3 - 1.2em/2)!important;
  }
  #newBilDiv{
    max-width: 700px;
    width : 70vw!important;
    height: calc(100vh*0.8) !important;
    border-radius: 0.5em;
    margin-top: 2em;
  }
}

.linktarget{
  height: 0.8em;
}

.grid-pages{
  scroll-snap-align:center;
  scroll-snap-stop: always;
  overflow-y: auto;
  width: 100vw;
  text-align: center;
  position: relative;
}


/*---------
Information page
---------*/
#info-page > div:not(.linktarget){
  margin: 1em auto;
}

#projectinfo > div{
  width: 80%;
  display: inline;
  margin: 0.2em 0;
}

#addMemberDiv{
  padding: 0.5em;
  margin-bottom: 0.5em;
}

#addMemberDiv > input, #addMemberDiv > button{
  display: inline-block;
  padding:0.3em;
  margin : 0;
  height: 2.3em;
}

#addMemberDiv > input{
  border-radius: 0.3em 0 0 0.3em;
}
#addMemberDiv > button{
  border-radius: 0 0.3em 0.3em 0;
  width: 2.3em;
}


#membersList > div{
  border-radius: 0.5em;
  background-color: var(--couleur5);
  border-style: 1px solid var(--couleur5);
  box-shadow:0px 0px 5px 2px grey;
  padding:0.5em;
  margin: 0.4em;
  width: auto;
  display: inline-block;
}

#membersList > .deactivated::after{
  content: ' (deactivated)';
  color : var(--couleur2);
}

#membersList > div > img::before{
  content: "hey";
}

/*---------------
Editi member page
---------------*/
#editMemberPage{
  z-index: 10;
  height: 100vh;
  width: 100vw;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  /*padding: auto auto;*/
  text-align: center;
  overflow-y: auto;
}

#editMemberDiv{
  position: relative;
  display: inline-block;
  border-radius: 0.5em;
  padding: 1em;
  top: 10em;
  background-color: #fff;
  box-shadow:0px 0px 5px 2px grey;
  z-index:12;
}

#editMemberDiv>input{
  padding: 0.3em;
  border-radius: 0.3em;
}

#editMemberDiv>button{
  padding: 0.3em;
  border-radius: 0.3em;
  margin: 0.7em 0.1em 0 0.1em;
}

/*---------
Bills page
----------*/

/*list of bills*/

#billsList{
  height: 100%;
}

#billMain{
  height: 100%;
  overflow:auto;
  background-color: var(--couleur3);
}

#billMain>*:not(#bills_endSpacer){
  background-color: #fff;
}

.billPayer, .billWhat{
  float:left;
  width:70%;
  text-align: left;
  padding-left: 0.5em;
}

.billDate, .billAmount{
  float:right;
  width:29%;
  text-align: right;
  padding-right: 0.5em;
}

.billPayer, .billDate{
  font-size: 0.8em;
  padding-top:0.2em;
}

#bills-page h1{
  border-bottom: 2px solid var(--couleur3);
}

.billdiv{
  overflow: auto;
  border-bottom: 2px solid var(--couleur3);
  background-color: #fff;
  padding: 0.3em 0;
  cursor: pointer;
}

#bills_endSpacer{
  position: relative;
  margin-bottom: 15vh;
}

/*Bill footer*/
#billFooter{
  position:absolute;
  bottom: 0;
  left:0;
  width:100%; /*
  height:4vh;
  background-color: var(--couleur5);
  z-index:1;*/
}

#addBill{
  position:absolute;
  bottom: 2.5vh;
  left:calc(50vw - 1.2em/2);
  border-radius: 1.2em;
  font-size:2.5em;
  box-shadow:0px 0px 5px 2px gray;
  width: 1.2em;
  height:1.2em;
  padding:0;
  margin: 0 auto;
  cursor: pointer;
  background-color: var(--couleur1);
}

/*---------
Summary Page
---------*/

#summary-page h2{
  padding: 0.2em;
}

.memberBranch{
  padding:  0.2em 0.5em;
  border-bottom: 2px solid var(--couleur3);
  text-align: left;
}

.memberName{
  width: 50%;
  display: inline-block;
  padding: 0 0.3em;
}

.memberLeaf{
  overflow-y: visible;
  width: 50%;
  display: inline-block;
  padding-block: min(0.3em,50%) min(0.3em,50%);
}

.positiveMB .memberName, .NegativeMB .memberLeaf{
  text-align: right;
}
.positiveMB .memberLeaf{
  background-color: var(--couleurVert);
  border-radius: 0 0.3em 0.3em 0;
}

.NegativeMB .memberName, .positiveMB .memberLeaf{
  text-align: left;
}
.NegativeMB .memberLeaf{
  background-color: var(--couleurRouge);
  border-radius: 0.3em 0 0 0.3em ;
  direction: rtl;
}

.NegativeMB .memberLeafContained{
  direction: ltr;
  width: 50vh;
}

.memberLeafContained{
  padding: 0 0.3em;
}

/*---------
Add Bill page
----------*/

label, input, select{
  cursor: pointer;
}

#newBillPage{
  width: 100vw;
  height: 100vh;
  position:absolute;
  top:0;
  right:0;
  text-align:center;
  z-index: 10;
}

.ModalBackground{
  background-color: rgba(200, 200, 200, 0.5);
  width: 100%;
  height: 100%;
  position:absolute;
  top:0;
  right:0;
  z-index:11;
  cursor: pointer;
}

#newBilDiv{
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index:12;
  background-color:#fff;
  text-align:center;
  overflow-y: auto;
  display: inline-block;
  padding: 1em;
  background-color: #fff;
  box-shadow:0px 0px 5px 2px grey;
}

#newBilDiv > label{
  display: inline-block;
  width: 40%;
  padding: 0.3em 0;
}

#newBilDiv > input, #newBilDiv > select{
  width: 60%;
  padding: 0.25em 0.2em;
  margin: 0.2em 0;
}

#newBilDiv > h1{
  padding-bottom: 0.2em;
}

#forWhomTitle{
  padding: 0.3em 0;
}

#bill-forWhom{
  padding: 0 0.2em;
}

#bill-forWhom > div{
  display: inline-block;
  min-width: calc(50% - 0.1em);
  text-align: left;
  padding: 0.3em;
  border: 1px solid var(--couleur3);
  border-radius: 0.3em;
  margin: 0.05em;
  cursor: pointer;
}
#bill-forWhom > div:hover{
  background-color: var(--couleur2)
}

#bill-forWhom > div > label{
  margin: 0.3em;
}

#newBillPage button{
  padding: 0.3em;
  border-radius: 0.3em;
  margin: 0.1em;
}

.settlementdiv{
  border-bottom: 2px solid var(--couleur3);
  cursor: pointer;
}


/*------
 Toasts
-------*/
@media only screen and (min-width: 900px){
  #ToastsContainer{
      top: 2.6em !important;
  }
}

#ToastsContainer{
  position:absolute;
  z-index: 10;
  right: 0;
  top: 4.2em;
  width: 0vh;
  overflow: visible;
  direction: rtl;
  text-align: left;
}

.ToastDiv{
  z-index: 200;
  position: relative;
  width: max-content;
  max-width : 90vw;
  direction: ltr;
  text-align: right;
  padding : 0.5em;
  margin: 0.2em;
  border-radius: 0.5em;
  border-width: 2px;
  border-style: solid;
  animation: ToastShow 0.2s linear 0s forwards;
}

.ToastDivRemoved{
  animation: ToastHide 0.5s linear 0s forwards;
}

@keyframes ToastShow{
  0% {margin-top: 5vh; opacity: 0;}
  100% {margin-top:0.2em; opacity: 1;}
}

@keyframes ToastHide{
  0% {right:0; opacity: 1;}
  50% {right:-5vw; opacity: 0;height: fit-content; padding : 0.5em; margin: 0.2em; border-width: 2px;}
  100%{height: 0; padding : 0;opacity: 0; margin: 0; overflow-y: hidden; border-width: 0px;}
}

.ToastDiv > strong{
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  margin: 0;
  text-align : center;
  cursor : pointer;
}

.ToastDivRed{
  background-color: rgb(250, 150, 150);
  color: rgba(200, 10, 10);
  border-color :rgba(200, 10, 10);
}

.ToastDivGreen{
  background-color: rgb(200, 250, 200);
  color: rgba(10, 160, 10);
  border-color: rgba(10, 160, 10);
}
