:root {
  --colorGreen: #9dfe00b0;
  --colorRed: #ff5e47;

  --primary: #adb6f4;
  --primary-content: #061682;
  --primary-content-light: #26338e;
  --primary-content-dark: #000000;
  --primary-dark: #808eee;
  --primary-light: #dadefa;

  --secondary: #f5e573;
  --secondary-content: #625707;
  --secondary-content-dark: #161401;
  --secondary-dark: #f2dc43;
  --secondary-light: #f8eea3;

  --background: #ededf3;
  --foreground: #fafbfc;
  --ultra-foreground: #fff;
  --border: #d9dae5;
  --stressed-border: #5b6093;

  --copy: #1f212e;
  --copy-light: #52577a;
  --copy-lighter: #757ba3;

  --success: #adf4ad;
  --warning: #f4f4ad;
  --error: #f4adad;
  --success-content: #0a520a;
  --warning-content: #4c4c0b;
  --error-content: #650d0d;

  --border-shadow: #969691;
}

.dark {
  --background: #14161f;
  --foreground: #1f212e;
  --ultra-foreground: #2d3251;
  --border: #33364d;
  --stressed-border: #5d6495;

  --copy: #fafbfc;
  --copy-light: #d1d3e0;
  --copy-lighter: #9498b8;

  --border-shadow: rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.hidden {
  display: none;
  visibility: hidden;
  width: 0;
  height: 0;
}

button {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  padding: 0.3em 0.6em;
  border-radius: 0.3em;
  margin: 0.1em;
  color: var(--copy);
  background-color: var(--foreground);
  border-color: var(--stressed-border);
  cursor: pointer;
}

button:hover,
input:hover,
select:hover {
  box-shadow: 2px 2px 8px var(--border);
  background-color: var(--border);
}

button:active {
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.5);
}

*:disabled {
  opacity: 0.5;
}

input,
select {
  font: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: var(--copy);
  background-color: var(--foreground);
  border-color: var(--stressed-border);
  border-radius: 3px;
}

/*---------
Main layout
---------*/
html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background);
}
body {
  display: flex;
  flex-flow: column;
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
}

section {
  color: var(--copy);
}

/*---------
Navigation Menu
---------*/

#NavigationTitle {
  display: grid;
  grid-template-columns: 2em 2.4em auto min-content;
  width: 100vw;
  position: relative;
  padding: 0.2em 0.2em 0.2em 0.5em;
  z-index: 2;
  background-color: var(--primary);
  box-shadow: 0px 0px 5px 2px var(--border-shadow);
  height: 2.4em;
}

#showLeftPanel {
  cursor: pointer;
  height: 100%;
  padding-top: 0.2em;
}

#showLeftPanelCheckbox {
  position: absolute;
  top: auto;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  white-space: nowrap;
}

.burgerLayer {
  display: block;
  width: 80%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--primary-content-dark);
  float: left;
  margin: calc((100% - 4px * 3 - 0.2em) / 4) 0 0 0;
}

#NavigationTitle img {
  float: left;
  width: 2em;
  display: inline-block;
  z-index: 5;
}
#NavigationTitle h1 {
  float: left;
  height: 100%;
  margin: 0.1em 0.2em;
  z-index: 5;
  /*width: max-content;calc(100vw - 0.2em - 2em - (1em + 50px));*/
  overflow: hidden;
}

#updateAll {
  float: right;
  background-color: var(--success); /* Green */
  color: var(--success-content);
  border: none;
  padding: 0.3em 0.6em;
  margin: 0;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  display: block;
  position: relative;
  margin: 0.05em;
}

#navigationList {
  display: flex;
  margin-top: 0; /*-0.2em;*/
}

#navigationList > li {
  list-style: none;
  width: 100%;
  text-align: center;
  z-index: 3;
}

#navigationList a {
  text-decoration: none;
  padding: 0.2em;
  width: 100%;
  height: 100%;
  display: block;
  color: var(--primary-content-dark);
}

#navigationList a:hover {
  font-weight: bold;
}

#progress-bar {
  height: 1.5em;
  top: 2.4em;
  width: calc(100% / 3);
  background-color: var(--primary);
  border-radius: 0 0 0.4em 0.4em;
  z-index: 2;
  left: 0;
  position: absolute;
  box-shadow:
    4px 2px 4px -2px var(--border-shadow),
    -4px 2px 4px -2px var(--border-shadow);
}
#progress-bar-back {
  height: 4.2em;
  top: -0.3em;
  width: 100%;
  background-color: var(--secondary);
  left: 0;
  animation: marginLeft 0.3s;
  position: absolute;
  z-index: 1;
  border-radius: 0.4em;
  box-shadow: 0px 0px 5px 2px var(--border-shadow);
}

/*---------
Loading animation
---------*/
#loadingAnnim {
  left: calc(50vw - 40px);
  top: calc(50vh - 40px);
  top: calc(50dvh - 40px);
}
#loadingAnnim div {
  border-color: var(--primary-dark) transparent transparent transparent;
}
.lds-ring {
  display: inline-block;
  position: absolute;
  z-index: 100;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--foreground);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--foreground) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*---------
leftPanel layout
---------*/
#leftPanelBackground {
  visibility: hidden;
}
#leftPanel {
  background-color: var(--foreground);
  visibility: inherit;
  display: grid;
  grid-template-rows: max-content minmax(0, 1fr) max-content;
  position: absolute;
  top: 0;
  left: -100vw;
  z-index: 100;
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  max-width: 300px;
  transition: left 0.2s;
}

#showLeftPanelCheckbox:checked ~ #leftPanel {
  transition: left 0.2s;
  left: 0;
}

#showLeftPanelCheckbox:checked ~ #leftPanelBackground {
  visibility: visible;
}

#showLeftPanelCheckbox:focus ~ #leftPanel #PanelTitle label {
  outline: 5px auto -webkit-focus-ring-color;
  outline: 2px auto Highlight;
}

#PanelTitle {
  display: grid;
  grid-template-columns: 2em 2.4em auto;
  background-color: var(--primary);
  box-shadow: 0px 0px 5px 2px var(--border-shadow);
  padding: 0.2em 0.5em;
}

#PanelTitle > label {
  padding-top: calc(2em / 2 - 4px);
  line-height: 0;
}

#PanelTitle > label > strong {
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 4px;
  background-color: var(--primary-content-dark);
  padding: 0;
}
.Xside1 {
  transform: translate(0, calc(50% * 1.1)) rotate(0.125turn);
}
.Xside2 {
  transform: translate(0, calc(-50% * 1.1)) rotate(-0.125turn);
}

#PanelTitle > h1 {
  margin: 0.1em 0.2em;
  color: var(--primary-content-dark);
}

/*project list*/

#LeftPanelProjectList {
  padding-left: 0.8em;
}

.ButtonRetractible > .leftPanelButton {
  background-image: url(../assets/vslider.svg);
  background-origin: content-box;
  background-repeat: no-repeat;
  background-position: right bottom 50%;
  background-size: contain;
}
.ButtonRetractibleCheckbox:checked ~ .leftPanelButton {
  background-image: url(../assets/^slider.svg);
}

.ButtonRetractibleCheckbox:focus ~ div {
  outline: 5px auto -webkit-focus-ring-color;
  outline: 5px auto Highlight;
}

.leftPanelButtonGroupe {
  overflow-y: auto;
  margin: 0.4em 0;
  padding: 0 0.2em;
}

.leftPanelButton {
  padding: 0.3em 0.6em;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  margin: 0.1em 0;
}

.leftPanelButton::before {
  content: "‎ ";
  width: 1.5em;
  display: inline-block;
  background-image: var(--iconURL);
  background-origin: content-box;
  background-repeat: no-repeat;
  background-position: left 0% bottom 50%;
  background-size: contain;
}

.leftPanelFooter {
  background-color: inherit;
}

/*---------
Pages layout
---------*/
#page-container {
  flex: 1 1 auto;
  display: grid;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
  overflow-y: hidden;
  grid-template-columns: 100vw 100vw 100vw;
}

@media only screen and (min-width: 900px) {
  #navigationList,
  #progress-bar,
  #progress-bar-back {
    display: none;
  }
  #page-container {
    grid-template-columns: calc(100vw / 3) calc(100vw / 3) calc(100vw / 3) !important;
  }
  .grid-pages {
    width: calc(100vw / 3) !important;
  }
  #addBill {
    left: calc(50vw / 3 - 1.2em / 2) !important;
  }
  #newBilDiv,
  .Modal {
    max-width: 700px;
    width: 70vw !important;
    height: calc(100vh * 0.8) !important;
    height: calc(100dvh * 0.8) !important;
    border-radius: 0.5em;
    margin-top: 2em;
  }
}

@media print {
  #navigationList,
  #leftPanelContainer,
  #progress-bar,
  #progress-bar-back,
  #updateAll,
  #bills_endSpacer,
  #billFooter {
    display: none !important;
  }
  :root {
    --background: transparent;
    --foreground: transparent;
  }
  body {
    height: auto;
    overflow-y: auto;
  }
  #page-container {
    display: block;
    overflow-y: auto;
  }
  .billdivm,
  .memberBranch,
  .settlementdiv {
    break-inside: avoid !important;
  }
  .memberLeaf {
    border: 1px solid var(--border);
    box-sizing: border-box;
  }
}

.linktarget {
  height: 0.8em;
}

.grid-pages {
  scroll-snap-align: center;
  scroll-snap-stop: always;
  overflow-y: auto;
  width: 100vw;
  text-align: center;
  position: relative;
}

#info-page,
#billMain,
#summary-page {
  padding: 0 0.5em;
}

.foregroundCard {
  margin: 0 auto 1em auto;
  padding: 1em;
  max-width: 600px;
  border-radius: 0.75em;
  border: 1px solid var(--border);
  box-shadow: 0px 0px 5px 2px var(--border-shadow);
  background-color: var(--foreground);
}

.dark .foregroundCard {
  border: 2px solid var(--border);
}

/*---------
Information page
---------*/

#projectinfo > div {
  width: 80%;
  display: inline;
  margin: 0.2em 0;
}

#addMemberForm {
  padding: 0.5em;
  margin-bottom: 0.5em;
}

#addMemberForm > input,
#addMemberForm > button {
  display: inline-block;
  padding: 0.3em 0.6em;
  margin: 0;
  height: 2.3em;
}

#addMemberForm > input {
  border-radius: 0.3em 0 0 0.3em;
  max-width: calc(100% - 2.3em);
}
#addMemberForm > button {
  border-radius: 0 0.3em 0.3em 0;
  aspect-ratio: 1 / 1;
  border-left-width: 0;
}

#membersList {
  display: flex;
  flex-flow: row wrap;
}

#membersList > button {
  border-radius: 0.5em;
  background-color: var(--primary);
  border-style: 1px solid var(--primary-content);
  color: var(--primary-content);
  box-shadow: 0px 0px 5px 2px var(--border-shadow);
  padding: 0.5em 1em;
  margin: 0.4em;
  width: auto;
  display: inline-block;
  flex-grow: 1;
}

#membersList > .deactivated::after {
  content: " (deactivated)";
  color: var(--primary-content-light);
}

#membersList > button::before {
  content: attr(weight);
  color: var(--primary-content-light);
}

/*---------------
Edit member page
---------------*/
#editMemberPage {
  z-index: 10;
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  /*padding: auto auto;*/
  text-align: center;
  overflow-y: auto;
}

#editMemberDiv {
  position: relative;
  display: inline-block;
  border-radius: 0.5em;
  padding: 1em;
  top: 10em;
  background-color: var(--foreground);
  box-shadow: 0px 0px 5px 2px var(--border-shadow);
  z-index: 12;
}

#editMemberDiv > input {
  padding: 0.3em;
  border-radius: 0.3em;
}

#editMemberDiv > button {
  padding: 0.3em 0.6em;
  border-radius: 0.3em;
  margin: 0.7em 0.1em 0 0.1em;
}

/*---------
Bills page
----------*/

/*list of bills*/

#billsList {
  height: 100%;
}

#billMain {
  height: 100%;
  overflow: auto;
}

.billPayer,
.billWhat {
  float: left;
  width: 70%;
  text-align: left;
  padding-left: 0.5em;
}

.billDate,
.billAmount {
  float: right;
  width: 29%;
  text-align: right;
  padding-right: 0.5em;
}

.billPayer,
.billDate {
  font-size: 0.8em;
  padding-top: 0.2em;
}

#bills-page h1 {
  border-bottom: 2px solid var(--border);
}

.billdiv {
  overflow: auto;
  border: none;
  width: 100%;
  border-bottom: 2px solid var(--border);
  background-color: var(--foreground);
  padding: 0.4em 0 0.3em 0;
  margin: 0;
  cursor: pointer;
}

#bills_endSpacer {
  position: relative;
  margin-bottom: 15vh;
  margin-bottom: 15dvh;
}

/*Bill footer*/
#billFooter {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

#addBill {
  position: absolute;
  bottom: 2.5vh;
  bottom: 2.5dvh;
  left: calc(50vw - 1.2em / 2);
  border-radius: 1.2em;
  font-size: 2.5em;
  box-shadow: 0px 0px 5px 2px var(--border-shadow);
  width: 1.2em;
  height: 1.2em;
  padding: 0;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  background-color: var(--primary);
}

/*---------
Summary Page
---------*/

#summary-page h2 {
  padding: 0.2em;
}

#balance_tree,
#settlements_list {
  border-top: 2px solid var(--border);
}

.memberBranch {
  padding: 0.2em 0.5em;
  border-bottom: 2px solid var(--border);
  text-align: left;
}

.memberName {
  width: 50%;
  display: inline-block;
  padding: 0 0.3em;
}

.memberLeaf {
  overflow-y: visible;
  width: 50%;
  display: inline-block;
  padding-block: min(0.3em, 50%) min(0.3em, 50%);
}

.positiveMB .memberName,
.NegativeMB .memberLeaf {
  text-align: right;
}
.positiveMB .memberLeaf {
  background-color: var(--colorGreen);
  border-radius: 0 0.3em 0.3em 0;
}

.NegativeMB .memberName,
.positiveMB .memberLeaf {
  text-align: left;
}
.NegativeMB .memberLeaf {
  background-color: var(--colorRed);
  border-radius: 0.3em 0 0 0.3em;
  direction: rtl;
}

.NegativeMB .memberLeafContained {
  direction: ltr;
  width: 50vw;
}

.memberLeafContained {
  padding: 0 0.3em;
}

#settlements_list p {
  padding: 0.5em 0 0 0;
}

/*---------
Add Bill page
----------*/

label,
input,
select {
  cursor: pointer;
}

#newBillPage,
.ModalContainer {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}

.ModalBackground {
  background-color: rgba(10, 10, 10, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 11;
  cursor: pointer;
}

#newBilDiv,
.Modal {
  position: relative;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  z-index: 12;
  text-align: center;
  overflow-y: auto;
  display: inline-block;
  padding: 1em;
  background-color: var(--foreground);
  box-shadow: 0px 0px 5px 2px var(--border-shadow);
}

#newBilDiv > label {
  display: inline-block;
  width: 40%;
  padding: 0.3em 0;
}

#newBilDiv > input,
#newBilDiv > select {
  width: 60%;
  padding: 0.25em 0.2em;
  margin: 0.2em 0;
}

#newBilDiv > h1 {
  padding-bottom: 0.2em;
}

#forWhomTitle {
  padding: 0.3em 0;
}

#bill-forWhom {
  padding: 0 0.2em 0.2em 0.2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 0.3em;
}

#bill-forWhom > div {
  text-align: left;
  padding: 0.3em;
  border: 1.5px solid var(--border);
  border-radius: 0.3em;
  margin: 0.05em;
  cursor: pointer;
}
#bill-forWhom > div:hover {
  background-color: var(--primary-light);
}

#bill-forWhom > div > label {
  margin: 0.3em;
}

#bill-forWhom > div > input[type="number"] {
  width: calc(100%-0.4em);
  margin: 0.2em;
  padding: 0.2em;
}

#newBillPage button {
  padding: 0.3em 0.6em;
  border-radius: 0.3em;
  margin: 0.1em;
}

.settlementdiv {
  border: none;
  width: 100%;
  border-bottom: 2px solid var(--border);
  padding: 0.4em 0 0.3em 0;
  margin: 0;
}

/*--------------
  Share Project
--------------*/

.Modal p {
  text-align: justify;
}

.Modal h2 {
  padding: 0.4em;
}

.CloseModal {
  width: 2em;
  height: 2em;
  position: absolute;
  top: 0.2em;
  background: unset;
  border: unset;
  right: 0.2em;
  background-image: url("../assets/x.svg");
  cursor: pointer;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-position: right bottom 50%;
  background-size: contain;
}

#ShareInvitationLinkDiv > svg,
#ShareWithOthersDiv > svg {
  max-width: 100%;
}

#shareProjectDiv > p,
#ShareInvitationLinkDiv > * {
  margin-bottom: 0.6em;
}

#shareProjectDiv {
  //max-width: 100%;
  overflow-x: clip;
}
/*------
 Toasts
-------*/
@media only screen and (min-width: 900px) {
  #ToastsContainer {
    top: 2.6em !important;
  }
}

#ToastsContainer {
  position: absolute;
  z-index: 10;
  right: 0;
  top: 4.2em;
  width: 0;
  overflow: visible;
  direction: rtl;
  text-align: left;
}

.ToastDiv {
  z-index: 200;
  position: relative;
  width: max-content;
  max-width: 90vw;
  direction: ltr;
  text-align: right;
  padding: 0.5em;
  margin: 0.2em;
  border-radius: 0.5em;
  border-width: 2px;
  border-style: solid;
  animation: ToastShow 0.2s linear 0s forwards;
}

.ToastDivRemoved {
  animation: ToastHide 0.5s linear 0s forwards;
}

@keyframes ToastShow {
  0% {
    margin-top: 5vh;
    margin-top: 5dvh;
    opacity: 0;
  }
  100% {
    margin-top: 0.2em;
    opacity: 1;
  }
}

@keyframes ToastHide {
  0% {
    right: 0;
    opacity: 1;
  }
  50% {
    right: -5vw;
    opacity: 0;
    height: fit-content;
    padding: 0.5em;
    margin: 0.2em;
    border-width: 2px;
  }
  100% {
    height: 0;
    padding: 0;
    opacity: 0;
    margin: 0;
    overflow-y: hidden;
    border-width: 0px;
  }
}

.ToastDiv > strong {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  margin: 0;
  text-align: center;
  cursor: pointer;
}

.ToastDivRed {
  background-color: var(--error);
  color: var(--error-content);
  border-color: var(--error-content);
}

.ToastDivGreen {
  background-color: var(--success);
  color: var(--success-content);
  border-color: var(--success-content);
}

.ToastDivOrange {
  background-color: var(--warning);
  color: var(--warning-content);
  border-color: var(--warning-content);
}

/*----------
Single pages
(about, Settings)
----------*/

.SinglePage {
  padding: 1em 1.5em;
  text-align: center;
  overflow-y: auto;
}
.SinglePage h1 {
  margin: 0.5em auto;
}

.SinglePage p {
  text-align: justify;
  margin: 0.5em auto;
}

.SinglePageContainer {
  margin: 0 auto;
  max-width: 700px;
  padding: 1em;
  border-radius: 0.75em;
  border: 1px solid var(--border);
  box-shadow: 0px 0px 5px 2px var(--border-shadow);
  background-color: var(--foreground);
}

.dark .SinglePageContainer {
  border: 2px solid var(--border);
}

.SinglePageContainer label,
.wideForms label {
  display: inline-block;
  width: 100%;
  margin: 0.2em 0;
}

.SinglePageContainer button,
.wideForms button {
  padding: 0.2em 0.4em;
  width: 100%;
  background-color: var(--secondary);
  color: var(--secondary-content-dark);
  border-radius: 0.2em;
  cursor: pointer;
}

.SinglePageContainer label > input,
.wideForms label > input,
.SinglePageContainer label > select,
.wideForms label > select {
  width: 100%;
  float: left;
  margin: 0.1em 0;
  padding: 0.2em;
}

/*----------
Add Project
----------*/

#AddProjectSection label {
  text-align: left;
}

/*----------
Retractible
----------*/

.ButtonRetractible:hover {
  border-radius: 0.5em;
  box-shadow: 2px 2px 8px var(--border);
}

.ButtonRetractibleCheckbox ~ p::after {
  content: "‎ ";
  width: 1.5em;
  display: inline-block;
  background-image: url(../assets/vslider.svg);
  background-origin: content-box;
  background-repeat: no-repeat;
  background-position: right bottom 50%;
  background-size: contain;
}

.ButtonRetractibleCheckbox:checked ~ p::after {
  background-image: url(../assets/^slider.svg);
}

.ButtonRetractibleCheckbox {
  position: absolute;
  top: auto;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  white-space: nowrap;
}
.ButtonRetractibleDiv {
  float: left;
  clip-path: inset(0 0 100% 0);
  shape-outside: inset(0 0 100% 0);
  max-height: 0;
  width: 100%;
  overflow-y: hidden;
  --transitionTime: 0.2s;
  transition:
    clip-path var(--transitionTime),
    shape-outside var(--transitionTime),
    max-height 0s var(--transitionTime);
  display: flow-root;
}
.ButtonRetractibleCheckbox:checked ~ .ButtonRetractibleDiv {
  clip-path: inset(0 0 0 0);
  shape-outside: inset(0 0 0 0);
  max-height: 10000px;
  transition:
    clip-path var(--transitionTime),
    shape-outside var(--transitionTime),
    max-height 0s 0s;
}

/*----------
  Switch
----------*/

.switch > input {
  position: absolute;
  top: auto;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  white-space: nowrap;
}

.switch > span {
  display: inline-block;
  height: 1em;
  border-radius: 1em;
  width: calc(2em - 5px);
  background-color: var(--primary);
  padding: 2.5px;
}

.switch > input:focus ~ span {
  outline: 5px auto -webkit-focus-ring-color;
  outline: 2px auto Highlight;
}

.switch > span > span {
  display: inline-block;
  float: left;
  height: 100%;
  width: 50%;
  border-radius: 100%;
  background-color: var(--border);
}

.switch > input:checked ~ span > span {
  float: right;
}

.switchFullWidth {
  display: block;
  width: 100%;
  padding: 0.4em;
  text-align: center;
}

.btn-green {
  color: var(--success-content);
  background-color: var(--success) !important;
  border-color: var(--success-content);
}

.btn-green:hover {
  background-color: var(--success);
  box-shadow: 2px 2px 8px var(--success);
}

.btn-red {
  color: var(--error-content);
  background-color: var(--error) !important;
  border-color: var(--error-content);
}

.btn-red:hover {
  background-color: var(--error);
  box-shadow: 2px 2px 8px var(--error);
}

/*----------
button list
-----------*/
.ButttonList {
  display: flex;
  flex-flow: row wrap;
}

.ButttonList button {
  width: fit-content;
  flex-grow: 1;
}
